# OSX
#
.DS_Store

**example_text_in_out/
**build/
**vendor/

# Xcode
#
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
package-lock.json

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

coverage/*

ios/Podfile.lock
# Expo
.expo
dist/
web-build/
fastlane/report.xml
.eslintcache
x
diff_files.sh
example*/android/app/src/main/java/com/exampleapp/CalendarModule.java__
.gitignore
example*/android/app/src/main/java/com/exampleapp/MainReactNativeHost.java__
example*/android/app/src/main/java/com/exampleapp/MainApplication.java__
example*/android/app/src/main/java/com/exampleapp/MyAppPackage.java__
example*/android/app/src/main/java/com/exampleapp/MainActivity.java__
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppDataInfo.plist
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.apple.dyld/ExampleApp.dyld4
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db-shm
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db-wal
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/functions.data
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/functions.list
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/archiveUsage.db/data.mdb
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/archiveUsage.db/lock.mdb
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite-shm
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite-wal
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Preferences/com.davoice.keyworddetection.plist
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Saved Application State/com.davoice.keyworddetection.savedState/KnownSceneSessions/data.data
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/.com.apple.mobile_container_manager.metadata.plist
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Documents/need_help_now_prediction.wav
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/17A43962-E8E8-4B8B-853A-7145F64F0D92@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/4378DBDB-4622-43C8-B614-67D96159CFC2@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/D9907F8E-70A0-498F-8418-2F7644B55F49@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/DAA8FCD9-F369-49FA-8532-047819271E92@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/downscaled/B2AB1DFC-0C1D-400A-BCBD-7AA6E5A7D002@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/6E22260C-1393-434C-85E9-28CC1E071A0A@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/7AC2BE67-9879-4CF8-8F5A-B0B0516BCF0B@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/downscaled/6B2AC988-99E7-444B-8F5C-E52397E2A1D1@3x.ktx
example*/ios/ExampleApp/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/downscaled/CF40C159-7470-4381-A125-524A2664A97B@3x.ktx
example*/App.js_new
README.md.ofer
example*/need_help_now_prediction.wav
example*/android/app-release.apk
example/App1.tsx
example/index.js_new
example/index1.js
example/android/app/src/main/assets/genious.onnx
example/android/app/src/main/assets/hey_pango.onnx
example/android/app/src/main/assets/hey_vickie.onnx
example/android/app/src/main/assets/hotel_genie.onnx
example_car_parking/App1.tsx
example_car_parking/Gemfile.lock
example_car_parking/index.js_new
example_car_parking/index1.js
example_car_parking/android/app/src/main/assets/genious.onnx
example_car_parking/android/app/src/main/assets/hey_vickie.onnx
example_car_parking/android/app/src/main/assets/hotel_genie.onnx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.apple.dyld/ExampleApp.dyld4
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db-shm
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/Cache.db-wal
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/functions.data
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/functions.list
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/archiveUsage.db/data.mdb
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Caches/com.davoice.keyworddetection/com.apple.metal/archiveUsage.db/lock.mdb
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite-shm
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/HTTPStorages/com.davoice.keyworddetection/httpstorages.sqlite-wal
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Preferences/com.davoice.keyworddetection.plist
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/Saved Application State/com.davoice.keyworddetection.savedState/KnownSceneSessions/data.data
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/17A43962-E8E8-4B8B-853A-7145F64F0D92@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/4378DBDB-4622-43C8-B614-67D96159CFC2@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/D9907F8E-70A0-498F-8418-2F7644B55F49@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/DAA8FCD9-F369-49FA-8532-047819271E92@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/com.davoice.keyworddetection - {DEFAULT GROUP}/downscaled/B2AB1DFC-0C1D-400A-BCBD-7AA6E5A7D002@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/6E22260C-1393-434C-85E9-28CC1E071A0A@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/7AC2BE67-9879-4CF8-8F5A-B0B0516BCF0B@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/downscaled/6B2AC988-99E7-444B-8F5C-E52397E2A1D1@3x.ktx
example_car_parking/ios/Spark/com.davoice.keyworddetection 2024-10-07 19:35.52.472.xcappdata/AppData/Library/SplashBoard/Snapshots/sceneID:com.davoice.keyworddetection-default/downscaled/CF40C159-7470-4381-A125-524A2664A97B@3x.ktx
example_car_parking/ios/Spark/Images.xcassets/Contents.json
example_car_parking/ios/Spark/Images.xcassets/AppIcon.appiconset/Contents.json
example/android/backgroundworks.apk
example/android/backgroundadv8.apk
example/android/backgroundadv7.apk
example/android/backgroundadv6.apk
example/android/backgroundadv5.apk
example/android/backgroundadv4.apk
example/android/backgroundadv3.apk
example/android/backgroundadv2.apk
example/android/backgroundadv.apk
example/android/background4.apk
example/android/background2.apk
example_car_parking/App.tsx
example/android/examplenew.apk
example/android/examplenew1.apk
